<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../public/images/cruz_malta-removebg-preview.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/style/StyleMain.css">
    <title>Participe!</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="../PAGINA-PRINCIPAL.html">
                    <img src="../public/images/cruz_malta-removebg-preview.png" alt="Logo" width="27" height="27"
                        class="d-inline-block align-text-top">
                    GoldMalta - Projeto de Integração
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../PAGINA-PRINCIPAL.html">Página
                                Inicial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="">Participe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Sobre nós</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="titulo">
        <h2>Sobre nós</h2>
    </div>
    

    <div class="container-form col-7">
        <div class="sobrenos">
            <p><b>Missão:</b>
                Facilitar a inclusão e valorização de profissionais com mais de 50 anos no mercado de trabalho, promovendo um ambiente de trabalho diversificado, onde a experiência e habilidades maduras desses indivíduos são reconhecidas e integradas de forma significativa. Buscamos promover a equidade geracional e contribuir para a construção de uma sociedade mais inclusiva, aproveitando o potencial único que cada membro da nossa equipe pode oferecer.
                </p><br>
                <p>
                <b>Visão:</b>
                Ser referência na promoção da integração de profissionais com mais de 50 anos, sendo reconhecidos como uma empresa inovadora e líder no desenvolvimento de práticas inclusivas no mercado de trabalho. Buscamos um futuro onde a diversidade geracional seja não apenas aceita, mas valorizada como um fator essencial para o crescimento sustentável das organizações e para o enriquecimento do ambiente profissional.
               </p> 
               <p>
                <b>Valores</b>
                <br>
                <br>
                <b>Inclusão e Diversidade:</b>
                Priorizamos um ambiente de trabalho que celebra a diversidade geracional, reconhecendo o valor único que cada indivíduo traz para a equipe.
                <br>
                <br>
                <b>Respeito e Empatia:</b>
                Cultivamos um ambiente onde todos os colaboradores são tratados com respeito e empatia, independentemente da idade, promovendo relações profissionais saudáveis e produtivas.
                <br>
                <br>
                <b>Aprendizado Contínuo:</b>
                Valorizamos o aprendizado ao longo da vida e incentivamos o desenvolvimento profissional contínuo, proporcionando oportunidades para que todos os colaboradores aprimorem suas habilidades e conhecimentos.
                <br>
                <br>
                <b>Equidade Geracional:</b>
                Comprometemo-nos a promover a igualdade de oportunidades para profissionais de todas as idades, garantindo que as políticas e práticas da empresa não discriminem com base na idade.
                <br>
                <br>
                <b>Inovação:</b>
                Buscamos constantemente maneiras inovadoras de integrar e aproveitar as habilidades dos profissionais mais experientes, promovendo uma cultura de inovação que beneficie toda a equipe.
                <br>
                <br>
                <b>Responsabilidade Social:</b>
                Reconhecemos nossa responsabilidade para com a sociedade e nos esforçamos para impactar positivamente a comunidade, promovendo a integração de profissionais mais experientes e contribuindo para o desenvolvimento sustentável.
                <br>
                <br>
                Esses elementos formam a base de nossa empresa, guiando nossas ações e decisões enquanto trabalhamos para construir um ambiente de trabalho inclusivo e enriquecedor para todas as gerações.</p>
               </p>
        </div>
    </div>



    <footer id="footer_participe">
        <h1>Cruz de Malta Health</h1>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>